body
{
  background-color: black;
  color: white;
}

.nav-bar
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px;
}
.nav-bar-item
{
  margin-right: 30px;
  font-size: 24px;
  font-weight: bold;
}
.main-icon
{
  background-image: url('../assets/Main-icon.png');
  width: 148px;
  height: 145px;
  margin-left: 15px;
  margin-top: -20px;
}
 /* HOME */

 .home-head
 {
  background-color: white;
  height: 100px;
  z-index: 1;
  color: black;
  display: flex;
  justify-content: center;
  font-size: 90px;
 }
.home-background
{
  background-color: #142F37;
  height: 775px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.profile
{
  background-image: url('../assets/Profile-icon.png');
  width: 192px;
  height: 184px;
  margin-bottom: -100px;
}
.quote
{
  font-size: 36px;
  font-weight: bold;
}
.username-input
{
  background-color: #CCCCCC;
  width: 575px;
  height: 73px;
  border-radius: 50px;
  box-shadow: -7px 32px 23px -8px #000000,0px 10px 15px -3px rgba(0,0,0,0.1);
  margin-top: -90px;
  padding: 5px;
  font-size: 36px;
  text-align: center;
}
.start
{
  width: 198px;
  height: 47px;
  background-color: #88ba88;
  border: 5px solid black;
  border-radius: 50px;
  padding: 5px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bold;
  margin-top: -70px;
  text-align: center;
}
:hover.start
{
  color: rgb(19, 54, 31);
}


.now-playing
{
  background-color: #88ba88;
  border-radius: 50px;
  height: 37px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  margin-left: 80px;
}

.levels
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.level-box
{
  width: 404px;
  height: 653px;
  background-color: #88ba88;
  border-radius: 50px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  font-weight: bolder;
  color: black;
}